
.MMM-TwitterLists {
    display: block;
    width: 100%
}

.MMM-TwitterLists .alarm {
    color: yellow;
    font-weight: bold;
}

.MMM-TwitterLists .tweet {
    margin-bottom: 20px;
    position: relative;
    text-align: left;
}

.MMM-TwitterLists .author {
    color: #666;
    font-size: small;
}

.MMM-TwitterLists .authorusername {
    color: #666;
    font-size: small;
    display:inline;
}

.MMM-TwitterLists .authorname {
    color: #ccc;
    font-size: small;
    display: inline;
}
.MMM-TwitterLists .authorpic {
    height: 35px;
    width: 35px;
    float: left;
    vertical-align: top;
    padding-right: 10px;
} 
.MMM-TwitterLists .elapsed {
    color: #ccc;
    font-size: x-small;
    margin-left: 10px;
}

.MMM-TwitterLists .article{
    clear: left;
}
.MMM-TwitterLists .articletext{
    font-size: small;
    color: #eee;
}
.MMM-TwitterLists .articlemedia{
    float:right;
    vertical-align: text-top;
}

.MMM-TwitterLists .articlepic{
    height: 60px;
    float:right;
    vertical-align: text-top;
}
