<div>
    {% if not config.twitterBearerToken %}
        <div class="alarm">Bearer Token must be set in config. Please check documentation for examples.</div>
    {% endif %}

    {% for tweet in twitterData.data %}
    <div class="tweet">
        <span class="light bright x-small"> Twitter Data: {{ tweet.text }}</span>
    </div>
    {% endfor %}
</div>
