
#TweetLists {
    display: block;
    width: 100%
}

#TweetLists .alarm {
    color: yellow;
    font-weight: bold;
}

#TweetLists .tweet {
    margin-bottom: 20px;
    position: relative;
    text-align: left;
}

#TweetLists .author {
    color: #666;
    font-size: small;
}

#TweetLists .authorusername {
    color: #666;
    font-size: small;
    display:inline;
}
#TweetLists .authorname {
    color: #ccc;
    font-size: small;
    display: inline;
}
#TweetLists .authorpic {
    height: 35px;
    width: 35px;
    float: left;
    vertical-align: top;
    padding-right: 10px;
} 
#TweetLists .elapsed {
    color: #ccc;
    font-size: x-small;
    margin-left: 10px;
}

#TweetLists .article{
    clear: left;
}
#TweetLists.articletext{
    font-size: small;
    color: #eee;
}
#TweetLists .articlemedia{
    float:right;
    vertical-align: text-top;
}

#TweetLists .articlepic{
    height: 60px;
    float:right;
    vertical-align: text-top;
}
